.container {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 75px 150px 600px 100px;
    grid-template-areas: 
    "nav nav nav nav"
    "hd hd hd hd"
    "sm pt pt pt"
    "ft ft ft ft";
}

.subheader {
  font-size: 25pt;
}

.box {
  border: 1px solid red;
  background: #F8FA9D;
}

.nav {
  grid-area:nav;
  background-color: #FFCA03;
  border-radius: 15px;
  display: flex;
  font-size: 17pt;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 0;
  list-style: none;
}

.search {
  width: 50%;
  text-align: right;
  align-self: center;
  padding-right: 100px;
}

.header { 
  grid-area:hd;
  text-align: center;
  align-self: center;
  font-size: 30pt;
}

.feat {
  grid-area: sm;
  display: flex;
  height: 97%;
  flex-direction: column;
  align-items: center;
  border: 10px solid #FF5403;
  border-radius: 15px;
  margin: 0px 10px 0px 0px;
}

.feat-links {
  margin-top: 25px;
  margin-right: 30px;
  list-style: none;
  line-height: 3;
}

.social-media {
  margin-top: 250px;
  margin-right: 30px;
  display: flex;
  list-style: none;
  gap: 15px;
  background: transparent;
}

.posts {
  grid-area: pt;
  border: 10px solid #FFF323;
  border-radius: 15px;
}

.posts-hd {
  margin-left: 80px;
}

.scroll-container {
  height: 475px;
  margin: 1%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scroll-container::-webkit-scrollbar {
  width: 20px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #fdfbcd;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #fff649;
  border-radius: 10px;
} 

.blog-post-card {
  
  border: 1px groove;
  border-radius: 15px;
  margin: 1%;
  width: 25%;
  padding: 0 1% 1% 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-post-card:hover {
  background-color: #fff767;
}

.post-title {
  font-size: 20pt;
}

.card-image {
  width: 75%;
  height: auto;
  border-radius: 15%;
}

.post-sum {
  font-size: 15pt;
  text-align: center;
}

.post-link {
  font-size: 15pt;
}

.footer {
  grid-area: ft;
  background-color: #F90716;
  border-radius: 15px;
  margin: 10px 0px 0px 0px;
}

.footer-text {
  margin: 30px 0 0 20px;
  font-size: 20pt;
}
